.player-container {
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.player-card-container {
 margin-left: 1rem;
 margin-top: 2rem;
 display: flex;
 flex-direction: column;
 gap: 10px;
}

.player-name-container{
 display: flex;
 flex-direction: column;
 gap: 5px;
}

.player-name{
 text-decoration: none;
 color: red;
 display: flex;
}
