
.playersStatsPage {
 height: 100dvh;
 background-color: white;
}
.players-link-left1 {
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: white;
 height: 4dvh;
}
.players-link-left1 ul {
 display: flex;
 /* Add this line */
 flex-direction: row;
 /* Add this line */
 list-style: none;
 padding: 0;
 margin: 0;
}

.players-link-left1 li {
 margin-left: 2rem;
 border-bottom: 2px solid transparent;
 cursor: pointer;
}

.players-link-left1 li:hover {
 border-bottom-color: black;
}

.players-link-left1 ul li a {
  color: black;
}
.players-name {
 display: flex;
 justify-content: center;
}
.players-stats-container {
 width: 100%;
 height: auto;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: white;
 padding: 40px 0;

}

.total-row {
 border-top: 1px solid black;
font-weight: bold;
}

.players-stats {
 width: 95%;
 background-color: white;
 padding: 20px;
 border-radius: 8px;
 overflow-x: auto;
 /* Enable horizontal scrolling if content overflows */
}

.game-table {
 width: max-content;
 margin-top: 20px;

}

.game-row {
 display: grid;
 /* Use CSS grid for better control over column layout */
 grid-template-columns: repeat(17, 1fr);
 /* Adjust the number of columns based on your data */
 align-items: center;
 padding: 10px 0;
 border-bottom: 1px solid #d9d9d9;
 font-size: 14px;
 /* Adjust font size as needed */
}

.game-header {
 font-weight: bold;
 font-size: 12px;
 background-color: rgb(231, 238, 246);
 /* Add left padding to match the rows */

}
.player-img {
 height: 300px;
 width: 300px;
}


.game-date,
.fgm,
.fga,
.fgp,
.twoPM,
.twoPA,
.threePM,
.threePA,
.oReb,
.dReb,
.reb,
.ast,
.stl,
.blk,
.to,
.pts {
 text-align: center;
 white-space: nowrap;

}