.players {
 min-height: 100dvh;
 width: 100%;
 margin: 0;
 padding: 0;
 background-color: rgb(231, 238, 246);
}

.players-container {
 height: 76dvh;
 display: flex;
 flex-direction: column;
}


.players-profile {
 color: white;
 height: 100%;
 flex: .66;
 display: flex;
 flex-direction: row;
 background-color: #5d76a9;
 align-items: end;
}


.profile-information {
 display: flex;
 flex-direction: column;
 margin-bottom: 10rem;
}

.position {
 font-size: 18px;
 font-weight: lighter;
}

.hiep {
 height: 90%;
 max-width: 465px;
 max-height: 350px;
}

.name {
 font-size: 40px;
}

.players-info {
 flex: .333;
 display: flex;
 flex-direction: row;
 width: 100%;
 background-color: #435985;
 border-top: 1px solid white;
}



.left-section {
 display: flex;
 flex: .5;
}

.players-avg {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 flex: .2;
 border-right: 1px solid white;
}

.avg {
 color: white;
 font-size: 20px;
}

.avg-num {
 color: white;
 font-size: 25px;
 font-weight: bold;
}

.right-section {
 display: flex;
 flex-direction: column;
 flex: .5;
 color: white;
}

.right-side {
 flex: .5;
 display: flex;
}

.left-side {
 flex: .5;
 display: flex;
 ;
}


.right-info {
 border-right: 1px solid white;
 flex: .25;
 display: flex;
 justify-content: center;
 align-items: center;
}

.left-info {
 flex: .25;
 border-right: 1px solid white;
 border-bottom: 1px solid white;
 display: flex;
 justify-content: center;
 align-items: center;
}


.players-link-container {
 display: flex;
 flex-direction: row;
 flex: .07;
 background-color: rgb(255, 255, 255);
 width: 100%;
 border-bottom: 2px solid rgb(184, 181, 181);
}

.players-link-left {
 flex: .5;
 display: flex;
 justify-content: flex-start;
 align-items: center;
}

.players-link-left ul {
 display: flex;
 /* Add this line */
 flex-direction: row;
 /* Add this line */
 list-style: none;
 padding: 0;
 margin: 0;
}

.players-link-left li {
 margin-left: 2rem;
 border-bottom: 2px solid transparent;
 cursor: pointer;
}

.players-link-left li:hover {
 border-bottom-color: black;
}


.players-link-right {
 flex: .5;
}


.ad {
 width: 100%;
 height: 14vh;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: rgb(231, 238, 246);
}

.ad-container {
 height: 80%;
 width: 80%;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: beige;
}




.video-container {
 width: 100%;
 height: 42vh;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: rgb(231, 238, 246);
}


.players-video {
 display: flex;
 flex-direction: column;
 overflow: hidden;
 width: 95%;
 height: 90%;
 background-color: white;
 border-radius: 8px;
}

.latest-video {
 display: flex;
 align-items: center;
 flex: 0.2;
 font-size: 24px;
 padding-top: 10px;
 margin-left: 20px;
 margin-right: 20px;
 border-bottom: 1px solid rgb(197, 196, 196);
 font-weight: bold;
}

.vid {
 flex: 0.75;
 display: flex;
 flex-direction: row;
 margin-left: 10px;
 margin-right: 10px;
 margin-top: 10px;
 transition: transform 0.3s ease;
 /* Add transition property */
 align-items: center;
 height: 100%;
}

.slide-left {
 transform: translateX(-100%);
}

.slide-right {
 transform: translateX(100%);
}

.eaVid {
 display: flex;
 flex-direction: column;
 height: 90%;
 flex: 0.25;
 margin-right: 10px;
 margin-left: 10px;
 align-items: center;
 justify-content: center;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hi {
 font-weight: bold;
 padding-top: 10px;
 height: 20%;
 font-size: 18px;
}



.eaVid video {
 width: 300px;
 height: 200px;
 object-fit: cover;
}



/* Rest of the CSS */

.scroll-btn {
 position: absolute;
 top: 50%;
 transform: translateY(10%);
 width: 55px;
 height: 55px;
 background-color: rgba(0, 0, 0, 0.5);
 color: rgb(28, 145, 218);
 font-size: 30px;
 border: none;
 border-radius: 30px;
 cursor: pointer;
 z-index: 2;
 background-color: gainsboro;
}

.left {
 left: 10px;
}

.scroll-btn.left {
 /* Show the left arrow if canScrollLeft is true */
 position: absolute;
 left: 10px;
}

.right {
 right: 10px;
}

.players-video {
 position: relative;
 overflow: hidden;
}






.players-stats-container {
 width: 100%;
 height: auto;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: rgb(231, 238, 246);
 padding: 40px 0;
}

.players-stats {
 width: 95%;
 background-color: white;
 padding: 20px;
 border-radius: 8px;
 overflow-x: auto;
 /* Enable horizontal scrolling if content overflows */
}

.game-table {
 width: max-content;
 margin-top: 10px;

}

.game-row {
 display: grid;
 /* Use CSS grid for better control over column layout */
 grid-template-columns: repeat(16, 1fr);
 /* Adjust the number of columns based on your data */
 align-items: center;
 padding: 10px 0;
 border-bottom: 1px solid #d9d9d9;
 font-size: 14px;
 /* Adjust font size as needed */
}

.game-header {
 font-weight: bold;
 font-size: 12px;
 background-color: rgb(231, 238, 246);
 /* Add left padding to match the rows */

}



.game-date,
.fgm,
.fga,
.fgp,
.twoPM,
.twoPA,
.threePM,
.threePA,
.oReb,
.dReb,
.reb,
.ast,
.stl,
.blk,
.to,
.pts {
 text-align: center;
 white-space: nowrap;

}













@media screen and (max-width: 960px) {
 .players {
  min-height: 100dvh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(231, 238, 246);
 }

 .hiep {
  height: 90%;
 }

 .profile-information {
  margin-bottom: 8rem;
 }

 .players-container {
  height: 66dvh;
  display: flex;
  flex-direction: column;
 }

 .players-info {
  flex: .3;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #435985;
  border-top: 1px solid white;
 }

 .right-section {
  flex: .7;
  display: flex;
  flex-direction: column;
 }

 .left-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 15rem;
  padding-right: 15rem;
  border-bottom: 1px solid white;
 }

 .players-avg {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: none;
  border-right: 1px solid white;
 }

 .players-avg:last-child {
  border-right: none;
 }

 .avg {
  font-size: 17px;
  margin: 0;
  padding: 0;
  color: white;
  font-weight: lighter;
 }

 .avg-num {
  font-size: 20px;
  color: white;
  margin: 0;
  padding: 0;
  font-weight: bold;
 }


 .right-side {
  flex: .5;
  display: flex;

 }

 .left-side {
  flex: .5;
  display: flex;
 }
}


@media screen and (max-width: 800px) {
 .left-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 10rem;
  padding-right: 10rem;
  border-bottom: 1px solid white;
 }

 .hiep {
  height: 80%;
 }

 .profile-information {
  margin-bottom: 6rem;
 }

 .players-avg {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: none;
  border-right: 1px solid white;
 }


 .avg {
  font-size: 17px;
  margin: 0;
  padding: 0;
  color: white;
  font-weight: lighter;
 }

 .avg-num {
  font-size: 20px;
  color: white;
  margin: 0;
  padding: 0;
  font-weight: bold;
 }
}

@media screen and (max-width: 600px) {
 .players {
  min-height: 100dvh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(231, 238, 246);
 }

 .players-container {
  height: 76dvh;
  display: flex;
  flex-direction: column;
 }


 .players-profile {
  color: white;
  height: 100%;
  flex: .3;
  display: flex;
  flex-direction: row;
  background-color: #5d76a9;
  align-items: end;
 }

 .players-info {
  display: flex;
  flex: .6;
 }

 .left-section {
  flex: .3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 8rem;
  padding-right: 8rem;
  border-bottom: 1px solid white;
 }

 .hiep {
  height: 70%;
 }

 .profile-information {
  margin-bottom: 6rem;
 }

 .name {
  font-size: 30px;
 }

 .position {
  font-size: 15px;
 }

 .players-avg {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid white;
 }

 .right-section {
  flex: .7;
  display: flex;
  flex-direction: row;
 }

 .avg {
  font-size: 17px;
  margin: 0;
  padding: 0;
  color: white;
  font-weight: lighter;
 }

 .avg-num {
  font-size: 20px;
  color: white;
  margin: 0;
  padding: 0;
  font-weight: bold;
 }

 .left-side {
  flex: .5;
  display: flex;
  flex-direction: column;
  border: none;
 }

 .left-info {
  border: none;
  flex: .25;
  display: flex;
  align-items: center;
  justify-content: center
 }

 .right-side {
  flex: .5;
  display: flex;
  flex-direction: column;
  border: none;
 }

 .right-info {
  border: none;
  flex: .25;
  display: flex;
  align-items: center;
  justify-content: center
 }

 ;

}

@media screen and (max-width: 500px) {
 .players {
  min-height: 100dvh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(231, 238, 246);
 }

 .players-container {
  height: 76dvh;
  display: flex;
  flex-direction: column;
 }


 .players-profile {
  color: white;
  height: 100%;
  flex: .3;
  display: flex;
  flex-direction: row;
  background-color: #5d76a9;
  align-items: end;
 }

 .players-info {
  display: flex;
  flex: .6;
 }

 .left-section {
  flex: .3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 6rem;
  padding-right: 6rem;
  border-bottom: 1px solid white;
 }

 .hiep {
  height: 65%;
 }

 .profile-information {
  margin-bottom: 6rem;
 }

 .name {
  font-size: 20px;
 }

 .position {
  font-size: 15px;
 }

 .players-avg {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid white;
 }

 .right-section {
  flex: .7;
  display: flex;
  flex-direction: row;
 }

 .avg {
  font-size: 17px;
  margin: 0;
  padding: 0;
  color: white;
  font-weight: lighter;
 }

 .avg-num {
  font-size: 20px;
  color: white;
  margin: 0;
  padding: 0;
  font-weight: bold;
 }

 .left-side {
  flex: .5;
  display: flex;
  flex-direction: column;
  border: none;
 }

 .left-info {
  border: none;
  flex: .25;
  display: flex;
  align-items: center;
  justify-content: center
 }

 .right-side {
  flex: .5;
  display: flex;
  flex-direction: column;
  border: none;
 }

 .right-info {
  border: none;
  flex: .25;
  display: flex;
  align-items: center;
  justify-content: center
 }

 ;

}

@media screen and (max-width: 420px) {
 .players {
  min-height: 100dvh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(231, 238, 246);
 }

 .players-container {
  height: 76dvh;
  display: flex;
  flex-direction: column;
 }


 .players-profile {
  color: white;
  height: 100%;
  flex: .3;
  display: flex;
  flex-direction: row;
  background-color: #5d76a9;
  align-items: end;
 }

 .players-info {
  display: flex;
  flex: .6;
 }

 .left-section {
  flex: .3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  border-bottom: 1px solid white;
 }

 .hiep {
  height: 70%;
 }

 .profile-information {
  margin-bottom: 6rem;
  margin-right: 2rem;
 }

 .name {
  font-size: 23px;

 }

 .position {
  font-size: 15px;
 }

 .players-avg {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid white;
 }

 .right-section {
  flex: .7;
  display: flex;
  flex-direction: row;
 }

 .avg {
  font-size: 15px;
  margin: 0;
  padding: 0;
  color: white;
  font-weight: lighter;
 }

 .avg-num {
  font-size: 15px;
  color: white;
  margin: 0;
  padding: 0;
  font-weight: bold;
 }

 .left-side {
  flex: .5;
  display: flex;
  flex-direction: column;
  border: none;
 }

 .left-info {
  border: none;
  flex: .25;
  display: flex;
  align-items: center;
  justify-content: center
 }

 .right-side {
  flex: .5;
  display: flex;
  flex-direction: column;
  border: none;
 }

 .right-info {
  border: none;
  flex: .25;
  display: flex;
  align-items: center;
  justify-content: center
 }

 ;

}