.addNewPlayerContainer {
  display: flex;
  flex-direction: column;
  /* Change from row to column */
  align-items: center;
}

.newPlayer{
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  gap: 2px;
}

.updateTeam{
    display: flex;
      flex-direction: column;
      align-items: end;
      justify-content: center;
      gap: 2px;
}

/* ... Existing styles ... */

.playerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  /* Adjust margin to center vertically */
}

.updateTeamContainer {
    display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 2rem;
      /* Adjust margin to center vertically */
}

.playerContainer1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  /* Adjust margin to center vertically */
}

.deletePlayer{
      display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        gap: 2px;
}

.add-image-form {
    display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 2rem;
}

.add-player-image {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 2px;
  }



/* ... Existing styles ... */

@media screen and (max-width: 960px) {
.addNewPlayerContainer{
  display: flex;
  margin-right: 2rem;
}
}