.addNewStatsContainer {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  width: 100%;
  height: 100%;
}

.addStatsTitle {
display: flex;
justify-content: center;
margin-bottom: 4rem;
}

.statsContainer{
  display: flex;
  flex-direction: row;
}

.stats {
  display: flex;


}

.newStatsLabel{
  width: 85px;
}

.newStatsInput {
  width: 100%;
}

.deleteStats {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.statsInput {
  margin-top: 2rem;
  display: flex;
  gap: 10px;
}
