.addNewStatsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.newStatsLabel{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.newStatsInput {
  width: 77px;
}

.addStatsBtn{
  margin-top: 1rem;
  width: 200px;
  height: 20px;
}

.newStats {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.addStatsTitle {
display: flex;
justify-content: center;
margin-bottom: 1rem;
margin-top: 1rem;
}

.statsContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.deleteStats {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.statsInput {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 1rem;
  gap: 1px;
}
