.playerStats {
 display: flex;
 flex-direction: column;
 width: 300px
}

.playerStatsLi {
 list-style-type: none;
 text-decoration: none;

}

.stats-results{
 display: flex;
 flex-direction: column;
}
